nav form {
    margin-left: 180px;
    width: 300px;
  }

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}

#sidenav-bg {
    width: 400px;
}
#sidenav-user {
    width: 64px;
}


    .parallax-container .section {
        width: 100%;
    }

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

#welcomeText {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4)

}


