<!DOCTYPE html>
<html>
    @Html.Partial("_Header")
<body>
		<!-- Search bar -->
        <section>
    <div class="navbar-fixed">
        <nav role="navigation" class="white">
            <div class="nav-wrapper container">

                <a href="#" class="brand-logo brown-text darken-2">
                    <i class="material-icons left">adb</i>
                    Apfel's Library
                </a>

                <a href="#" data-activates="mobile" class="button-collapse brown-text darken-4">
                    <i class="material-icons">menu</i>
                </a>
				<ul class="right">
							<li>
								<a class="button-collapse brown-text darken-4">
                    <i class="material-icons">search</i>
                </a>
							</li>
						</ul>
			    
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a class="dropdown-button brown-text darken-4" data-activates="setting-drop">
                            <i class="material-icons">settings</i></a>
                    </li>
                </ul>

                <!--Responsive-->
                <ul class="side-nav" id="mobile">
                    <li>
                        <a href="#">
                            <i class="material-icons left">account_circle</i>User Name</a>
                    </li>
                    <li class="divider"></li>
                    <li >
                        <a class="brown-text darken-4" href="">Search</a>
                    </li>
                   <li>
                        <i class="material-icons right brown-text darken-4">arrow_drop_down</i>
                        <a class="dropdown-button brown-text darken-4" data-activates="manage-drop">Manage</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="red-text" href="#!"><i class="material-icons left">exit_to_app</i>Log out</a>
                    </li>
                    <li class="divider"></li>
                </ul>
                
               <!--Browser-->
                <ul id="setting-drop" class="dropdown dropdown-content">
                    <li>
                        <a href="#">
                            <i class="material-icons left brown-text darken-4">account_circle</i>User Name</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="red-text" href="#!"><i class="material-icons left">exit_to_app</i>Log out</a>
                    </li>
                </ul>
                
                <ul id="manage-drop" class="dropdown dropdown-content">
                    <li>
                        <a class="brown-text darken-4" href="#!"><i class="material-icons left">book</i>Book</a>
                    </li>
            
                    <li>
                        <a class="brown-text darken-4" href="#!"><i class="material-icons left">contacts</i>Member</a>
                    </li>
                </ul>
                <ul id="manage-drop-desktop" class="dropdown-content">
                    <li>
                        <a class="brown-text darken-4" href="#!"><i class="material-icons left">book</i>Book</a>
                    </li>
            
                    <li>
                        <a class="brown-text darken-4" href="#!"><i class="material-icons left">contacts</i>Member</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>
    <!-- Table -->
		 <div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
		
    <!-- Footer-->@Html.Partial("_Footer")
</body>
</html>

