 <section>
        <footer class="page-footer brown lighten-1">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Apfel's Library</h5>
                        <p class="grey-text text-lighten-4">A library management system.</p>
                        <ul class="white-text">
                            <li>
                                Thapakorn Tuwaemuesa 582115015
                            </li>
                            <li>
                                Piyawasin Pikror-ngarn 582115035
                            </li>
                            <li>
                                Suchart Pattanasart 582115030
                            </li>
                            <li>
                                Hathaichanok Dumrongsiri 582115045
                            </li>
                        </ul>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Contact us</h5>
                        <ul class="white-text">
                            <li>
                                <i class="material-icons left">local_phone</i> +44 1 2345 6789
                            </li>
                            <br>
                            <li>
                                <i class="material-icons left">mail</i> support@apfel.io
                            </li>
                            <br>
                            <li>
                                <i class="material-icons left">location_on</i> 4 Privet Drive, Little Whinging, Surrey, England, Great Britain
                            </li> 
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2017 Copyright by CBSD 1/2017 students
                </div>
            </div>
        </footer>
    </section>

