<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../Content/materialize/css/materialize.css" rel="stylesheet">
	<link href="../Scripts/main.css" rel="stylesheet">
    <script src="../Scripts/jquery-3.2.1.js"></script>
    <script src="../scripts/materialize/materialize.js"></script>
    <script src="../Scripts/main.js"></script>
   
    <title>Apfel's Library</title>
</head>
