<section>   
            <div class="row">
                <div class="col s12 m12">
                        <h5 class="center brown-text text-darken-2">Search Book</h5>
                    <form>
                    <div class="col s12 m10">
                        <div class="search-wrapper card hide-on-small-only">
                                
                                    <div class="input-field">
                                        <input id="search" type="search" placeholder="Search Book Here">
                                        <i class="material-icons">search</i>
                                    </div>
                        </div>
                    </div>
                  
                       <div class="input-field col s12 m2">
                            <select class="browser-default">
                                <option value="1">All</option>
                                <option value="1">ID</option>
                                <option value="1">Title</option>
                                <option value="1">Author</option>
                                <option value="1">Publisher</option>
                                <option value="1">ISBN</option>
                            </select>
                        </div>
                    </form>
               </div>
            </div>
        
            <div>
                <table class="table table-striped custab centered responsive-table">
                <thead>
            <tr>
                <th name="bookID">ID</th>
                <th name="title">Title</th>
                <th name="author">Author</th>
                <th name="publisher">Publisher</th>
                <th name="isbn">ISBN</th>
                <th name="pages">Pages</th>
                <th name="IsAvailable">Avaliability</th>
            </tr>
                </thead>
            <tr>
                <td>1</td>
                <td>Harry Potter The Goblet of Fire</td>
                <td>J.K. ROWLING</td>
                <td>2017</td>
                <td>11234567876543511</td>
                <td>123</td>
                <td>avalialbe</td>
            </tr>
                </table>
            </div>
           
            </section>
    

