<section>
            <div class="row">
                <div class="col s12 m12">
                        <h5 class="center brown-text text-darken-2">Search Member</h5>
                    <form>
                    <div class="col s12 m10">
                        <div class="search-wrapper card hide-on-small-only">
                                
                                    <div class="input-field">
                                        <input id="search" type="search" placeholder="Search Book Here">
                                        <i class="material-icons">search</i>
                                    </div>
                        </div>
                    </div>
                  
                       <div class="input-field col s12 m2">
                            <select class="browser-default">
                                <option value="1">All</option>
                                <option value="1">ID</option>
                                <option value="1">Firstname</option>
                                <option value="1">Surname</option>
                                <option value="1">Gender</option>
                                <option value="1">Contact</option>
                            </select>
                        </div>
                    </form>
               </div>
            </div>
            <div>
            <!--Sample Table Book Form-->
                <table class="table table-striped custab centered responsive-table">
                <thead>
              
            <tr>
                <th name="memberID">ID</th>
                <th name="firstName">Name</th>
                <th name="lastName">Surmane</th>
                <th name="gender">Gender</th>
                <th name="phoneNumber">Contact</th>
                <th name="username">Username</th>
    <!--I think password should not be know by anyone of user forgot their pass they should ask for re-password to librarian-->
                <!--<th name="password">Password</th>-->
            </tr>
                </thead>
            <tr>
                <td>1</td>
                <td>Surasang</td>
                <td>Jungrai</td>
                <td>Unknow</td>
                <td>+6655544444</td>
                <td>NiRaNam</td>
                <!--<td>TeepopInwzs007</td>-->
             </tr>
                </table>
            </div>

           
            </section>
    


    