<section>
        <div class="navbar-fixed">
            <nav role="navigation" class="white">
                <div class="nav-wrapper container">

                    <a href="#" class="brand-logo brown-text darken-2"><i class="material-icons left">adb</i>
                          Apfel's Library
                    </a>
                        
                    <a href="#" data-activates="mobile" class="button-collapse brown-text darken-4">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a class="brown-text darken-4" href="">Book</a>
                        </li>
                        <li>
                            <a class="brown-text darken-4" href="">Librarian</a>
                        </li>
                        <li>
                            <a class="brown-text darken-4" href="">Member</a>
                        </li>
                        <li>
                            <a class="brown-text darken-4" href="">Service</a>
                        </li>
                        <li>
                            <a class="brown-text darken-4" href="">History</a>
                        </li>
                    </ul>                   
                    <ul class="side-nav" id="mobile">
                        <li>
                            <a href="#">
                                <i class="material-icons left">adb</i>APFEL's LIBRARY</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="">Book</a>
                        </li>
                        <li>
                            <a href="">Librarian</a>
                        </li>
                        <li>
                            <a href="">Member</a>
                        </li>
                        <li>
                            <a href="">Service</a>
                        </li>
                        <li>
                            <a href="">History</a>
                        </li>                       
                    </ul>
                    
                </div>
            </nav>
        </div>
    </section>

