<section>
    <div class="navbar-fixed">
        <nav role="navigation" class="white">
            <div class="nav-wrapper container">

                <a href="#" class="brand-logo brown-text darken-2">
                    <i class="material-icons left">adb</i>
                    Apfel's Library
                </a>

                <a href="#" data-activates="mobile" class="button-collapse brown-text darken-4">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a class="brown-text darken-4" href="">Search</a>
                    </li>
                    <li>
                        <a class="brown-text darken-4" href="">History</a>
                    </li>

                    <li>
                        <a class="dropdown dropdown-button brown-text darken-4" href="" data-activates="setting-drop">
                            Settings<i class="material-icons right">arrow_drop_down</i>
                        </a>

                   <li>
                        <a class="dropdown-button brown-text darken-4" href="" data-activates="setting-drop">
                            <i class="material-icons">reorder</i></a>
                    </li>
                </ul>
                <ul class="side-nav" id="mobile">
                    <li>
                        <a href="#">
                            <i class="material-icons left">account_circle</i>User Name</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="brown-text darken-4" href="">Search</a>
                    </li>
                    <li>
                        <a class="brown-text darken-4" href="">History</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="red-text" href="#!"><i class="material-icons left">exit_to_app</i>Log out</a>
                    </li>
                    <li class="divider"></li>
                </ul>
				
                <ul id="setting-drop" class="dropdown-content">
                    <li>
                        <a href="#">
                            <i class="material-icons left brown-text darken-4">account_circle</i>User Name</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="red-text" href="#!"><i class="material-icons left">exit_to_app</i>Log out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>