<html lang="en">
    @Html.Partial("_Header")
    <body>
		<!--Navbar-->
        @Html.Partial("_Navbar_librarian")
		<!--End Navbar-->

         <!-- BODY -->


         <!-- END BODY -->
		
	    <!--Footer-->
        @Html.Partial("_Footer")
	    <!--End Footer-->
    </body>
</html>