<!DOCTYPE html>
<html>
    @Html.Partial("_Header")
<body>
         <!-- NAVBAR -->
    @Html.Partial("_Navbar_librarian")
        <!-- END NAV -->
        
<!-- Table -->
        <section>
            <div class="container">
                <table class="table table-striped custab highlight centered responsive-table">
                <thead>
              
            <tr>
                <th name="bookID">BookID</th>
                <th name="title">Title</th>
                <th name="author">Author</th>
                <th name="publisher">Publisher</th>
                <th name="isbn">ISBN</th>
				<th name="pages">Pages</th>
                <th name="IsAvailable">Avaliability</th>
                <th class="text-center">Manage</th>
            </tr>
                </thead>
            <tr>
                <td>1</td>
                <td>Harry Potter The Goblet of Fire</td>
                <td>J.K. ROWLING</td>
				<td>2017</td>
                <td>11234567876543511</td>
                <td>123</td>
				<td>avalialbe</td>
                <td class="text-center"><a class="waves-effect waves-light btn modal-trigger" data-target="modal1"><i class="large material-icons">mode_edit</i></a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Game Of Throne A Song of Ice and Fire</td>
                <td>George R. R. Martin</td>   
				<td>2017</td>
                <td>1111</td>
				<td>123</td>
                <td>avalialbe</td>
                <td class="text-center"><a class="waves-effect waves-light btn modal-trigger" data-target="modal2"><i class="large material-icons">mode_edit</i></a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Percy Jackson Sea of Monsters</td>
                <td>Rick Riordan</td>
				<td>2017</td>
                <td>1111</td>
				<td>123</td>
                <td>avalialbe</td>
                <td class="text-center"><a class="waves-effect waves-light btn modal-trigger" data-target="modal3"><i class="large material-icons">mode_edit</i></a></td>
            </tr>

                </table>
            </div>

            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>Modal Header</h4>
                    <p>A bunch of text</p>
                </div>
                <div class="modal-footer">
                    <div class="fixed-action-btn horizontal">
                        <a class="btn-floating btn-large red"><i class="large material-icons">build</i></a>
                        <ul>
                            <li><a class="btn-floating green"><i class="material-icons">edit</i></a></li>
                            <li><a class="btn-floating yellow darken-1"><i class="material-icons">delete</i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Modal Structure 2 -->
            <div id="modal2" class="modal">
                <div class="modal-content">
                    <h4>Modal Header2</h4>
                    <p>A bunch of text</p>
                </div>
                <div class="modal-footer">
                    <div class="fixed-action-btn horizontal">
                        <a class="btn-floating btn-large red"><i class="large material-icons">build</i></a>
                        <ul>
                            <li><a class="btn-floating green"><i class="material-icons">edit</i></a></li>
                            <li><a class="btn-floating yellow darken-1"><i class="material-icons">delete</i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Modal Structure 3-->
            <div id="modal3" class="modal">
                <div class="modal-content">
                    <h4>Modal Header3</h4>
                    <p>A bunch of text</p>
                </div>
                <div class="modal-footer">
                    <div class="fixed-action-btn horizontal">
                        <a class="btn-floating btn-large red"><i class="large material-icons">build</i></a>
                        <ul>
                            <li><a class="btn-floating green"><i class="material-icons">edit</i></a></li>
                            <li><a class="btn-floating yellow darken-1"><i class="material-icons">delete</i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            </section>
    
            <div class="fixed-action-btn horizontal">
            <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        
    <!-- Footer-->
        @Html.Partial("_Footer")
</body>
</html>

