<html lang="en">

@Html.Partial("_Header")
<body>
    <!-- NAVBAR -->
    @Html.Partial("_Navbar_librarian")
    <!-- END NAV -->
         <!-- BODY -->
        <div class="container">
            <div class="section"></div>
            <div class="row">
               
                <!--Profile Form-->
                <div class="col s12 m4"><h3>Edit Book</h3></div>
                <div class="col s12 m12 valign center">
                  <div class="row">
                        <!--Must provide Data from Database-->
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">import_contacts</i>
                            <label name="title">Title</label>
                            <input id="icon_prefix" type="text" class="validate">
                        </div>
                         <div class="input-field col s12 m6">
                            <i class="material-icons prefix">mode_edit</i>
                            <label name="author">Author</label>
                            <input id="icon_prefix" type="text" class="validate">
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">location_city</i>
                            <label name="publisher">Publisher</label>
                            <input id="icon_prefix" type="text" class="validate">
                        </div>
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">chrome_reader_mode</i>
                            <label name="isbn">ISBN</label>
                            <input id="icon_prefix" type="text" class="validate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">local_library</i>
                            <label for="email" name="pages">Pages</label>
                            <input id="icon_prefix" type="text" class="validate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12">
                            <button class="btn waves-effect waves-light red" type="submit" name="action">Submit</button>
                            <button class="btn waves-effect waves-light red" type="submit" name="action">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <!-- END BODY -->

        <!-- Plus -->
     
    <!-- FOOTER -->
   @Html.Partial("_Footer")
    <!-- END FOOTER -->


</body>
</html>