<html lang="en">

@Html.Partial("_Header")
<body>
    <!-- NAVBAR -->
    @Html.Partial("_Navbar_home")
    <!-- END NAV -->
    <!-- BODY -->
        <div id="index-banner" class="parallax-container">
            <div class="section no-pad-bot">
                <div class="container">
                <br><br>
                    <h1 class="header center brown-text text-darken-2">Apfel's Library</h1>
                        <div class="row center">                             <div class="col s12 m6">                                 <div class="icon-block">                                 <h5 class="center brown-text">Members</h5>                                 <h3 class="center brown-text lighten-4" name="numMembers">100,000</h3>                                 </div>                             </div>                                                      <div class="col s12 m6">                                 <div class="icon-block">                                 <h5 class="center brown-text">Books</h5>                                 <h3 class="center brown-text lighten-4" name="numBooks">200,000</h3>                                 </div>                             </div>                                                </div>                                                           <div class="row center">                             <div class="col s12 m6">                                 <div class="icon-block">                                 <h5 class="center brown-text">Borrow</h5>                                 <h3 class="center brown-text lighten-4" name="numBorrows">100,000</h3>                                 </div>                             </div>                                                      <div class="col s12 m6">                                 <div class="icon-block">                                 <h5 class="center brown-text">Avaliable</h5>                                 <h3 class="center brown-text lighten-4" name="numAvaliable">100,000</h3>                                 </div>                             </div>                         </div> 
                <br><br>
                </div>
            </div>
                <div class="parallax"><img src="img/bg1.jpg"></div>
        </div>

    <!-- END BODY -->
    <!-- FOOTER -->
   @Html.Partial("_Footer")
    <!-- END FOOTER -->
</body>

</html>