<html lang="en">

@Html.Partial("_Header")
<body>
    <!-- NAVBAR -->
    @Html.Partial("_Navbar_librarian")
    <!-- END NAV -->
        
    <!-- BODY -->
        <div class="container">
            <div class="row">
                <div class="col s12 m12">
                        <h3 class="center brown-text text-darken-2">History</h3>
                    <form>
                    <div class="col s12 m10">
                        <div class="search-wrapper card">
                                    <div class="input-field">
                                        <input id="search" type="search" placeholder="Search History Here">
                                        <i class="material-icons">search</i>
                                    </div>
                                
                        </div>
                    </div>
                       <div class="input-field col s12 m2">
                            <select class="browser-default">                                 <option value="1">All</option>                                 <option value="1">Record ID</option>                                 <option value="1">Book ID</option>                                 <option value="1">Title</option>                                 <option value="1">Member ID</option>                                 <option value="1">Firstname</option>                                 <option value="1">Surname</option>                             </select>
                        </div>
                    </form>
               </div>
            </div>
        </div>
        <div class="container">
            <section>  
            <div>
                <table class="table table-striped custab centered responsive-table">
                <thead>
            <tr>
                <th name="recordID">No.</th>
                <th name="bookID">Book id</th>
                <th name="bookTitle">Title</th>
                <th name="memberID">Member id</th>
                <th name="borrowDate">Borrow Date</th>
                <th name="dueDate">Due Date</th>
                <th name="returnDate">Return Date</th>
            </tr>
                </thead>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>Harry Potter The Goblet of Fire</td>
                <td>582115000</td>
                <td>01/12/2017</td>
                <td>13</td>
                <td>13/12/2017</td>
            </tr>
                </table>
            </div>
           
            </section>
        </div>
    <!-- END BODY -->
        
    <!-- FOOTER -->
   @Html.Partial("_Footer")
    <!-- END FOOTER -->
</body>

</html>