<div class="container">
<ul class="collapsible truncate" data-collapsible="expandable">
    <li>
             <div class="collapsible-header active"><i class="material-icons">question_answer</i>Library Rules</div>
             <div class="collapsible-body">
            <p class="truncate">
            1. It is forbidden to bring food into the Library.
      <br>  2. Silence to be maintained.
      <br>  3. The only drink permitted in the Library is water in a container with a non-spill cap.
      <br>  4. Mobile phones must be switched to 'silent' mode..
      <br>  5. All books and periodicals must be returned to the shelves after use.
   	        </p>
              </div>
   </li>
   <li>
              <div class="collapsible-header active"><i class="material-icons">priority_high</i>Borrow Rules</div>
              <div class="collapsible-body">
            <p class="truncate"> 
        	 1. Borrower accounts are non-transferable
       <br>  2. Borrowers agree to comply with all Library regulations
       <br>  3. keeping track of due dates and ensuring Library has their current contact information
       <br>  4. Outstanding charges may be referred to a collection agency after 30 days.
            </p>
            </div> 
    </li>
    <li>
              <div class="collapsible-header active"><i class="material-icons">local_library</i>Working Hours</div>
              <div class="collapsible-body">
            <p class="truncate">
            Monday to Friday 8 am to 9 pm (During Examination up to 10 PM)
     <br>   Saturday 8 am to 5 pm
     <br>   Sundays 9 am to 5 pm (During Examination Time)
            </p>
               </div> 
    </li>
</ul>
    </div>