<ul class="collapsible truncate" data-collapsible="expandable">
    <li>
      <div class="collapsible-header active"><i class="material-icons">question_answer</i>Library Rules</div>
      <div class="collapsible-body">
           <p>
            1. Rule1<br>
            2. Rule2<br>
            3. Rule3<br>
            4. Rule4<br>
            5. Rule4<br>
           </p>
      </div>
    </li>
    <li>
      <div class="collapsible-header active"><i class="material-icons">priority_high</i>Borrow Rules</div>
      <div class="collapsible-body">
             <p>
            1. Rule1<br>
            2. Rule2<br>
            3. Rule3<br>
            4. Rule4<br>
           </p>
      </div> 
    </li>
    <li>
      <div class="collapsible-header active"><i class="material-icons">pan_tool</i>Fine Rules</div>
      <div class="collapsible-body">
             <p>
            1. Rule1<br>
            2. Rule2<br>
            3. Rule3<br>
            4. Rule4<br>
           </p>
      </div>  
    </li>
  </ul>