 <div class="card col">
    <div class="card-content">
        <blockquote>Welcome to Our Library</blockquote>
        <p>Here is our Announcement for you</p>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a class="active" href="#test5">News</a></li>
        <li class="tab"><a href="#test6">More</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="test5">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="img/book2.jpg">
                </div>
                <div class="card-content">
                   <span class="card-title activator grey-text text-darken-4 truncate">News Title<i class="material-icons right hide-on-small-only">more_vert</i></span>
                   <p><a href="#" class="truncate">This is a link</a></p>
                </div>
                <div class="card-reveal">
                   <span class="card-title grey-text text-darken-4 truncate">Card Title<i class="material-icons right">close</i></span>
                   <p class="truncate">Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
           </div>
           <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="img/book1.jpg">
                </div>
                <div class="card-content">
                   <span class="card-title activator grey-text text-darken-4 truncate">News Title<i class="material-icons right hide-on-small-only">more_vert</i></span>
                   <p><a href="#" class="truncate">This is a link</a></p>
                </div>
                <div class="card-reveal">
                   <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                   <p class="truncate">Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
           </div>
      </div>
      <div id="test6">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="img/user-bg.jpg">
                </div>
                <div class="card-content">
                   <span class="card-title activator grey-text text-darken-4 truncate">News Title<i class="material-icons right hide-on-small-only">more_vert</i></span>
                   <p><a href="#" class="truncate">This is a link</a></p>
                </div>
                <div class="card-reveal">
                   <span class="card-title grey-text text-darken-4 truncate">Card Title<i class="material-icons right">close</i></span>
                   <p class="truncate">Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
           </div>
           <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="img/gumballlibrary.jpg">
                </div>
                <div class="card-content">
                   <span class="card-title activator grey-text text-darken-4 truncate">News Title<i class="material-icons right hide-on-small-only">more_vert</i></span>
                   <p><a href="#" class="truncate">This is a link</a></p>
                </div>
                <div class="card-reveal">
                   <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                   <p class="truncate">Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
           </div>
      </div>
    </div>
</div>
