<ul class="collapsible truncate" data-collapsible="expandable">
    <li>
      <div class="collapsible-header active"><i class="material-icons">question_answer</i>Library Rules</div>
      <div class="collapsible-body">
           <p>
            1. Rule1<br>Identity Card is compulsory for getting access to the library.
            2. Rule2<br>Silence to be maintained.
            3. Rule3<br>No discussion permitted inside the library.
            4. Rule4<br>Registration should be done to become a library member prior to using the library resources.
            5. Rule5<br>No personal belongings allowed inside the library.
			6. Rule6<br>Textbooks, printed materials and issued books are not allowed to be taken inside the library.
			7. Rule7<br>Using Mobile phones and audio instruments with or without speaker or headphone is strictly prohibited in the library premises.
		    8. Rule8<br>Enter your name and Sign in the register kept at the entrance counter before entering library.
			9. Rule9<br>Show the books and other materials which are being taken out of the library to the staff at the entrance counter.
            10. Rule10<br>Students are require to handle the books/ Journal very carefully; marking with pencil , writing or highlighting , tearing the pages or mutilating the same in any other way will be viewed very seriously. In such case reader shall be held responsible unless these are brought to the notice of the library staff at the time of issue.


           </p>
      </div>
    </li>
    <li>
      <div class="collapsible-header active"><i class="material-icons">priority_high</i>Borrow Rules</div>
      <div class="collapsible-body">
             <p>
            1. Rule1<br>Library borrower cards are not transferable. The borrower is responsible for the books borrowed on his/her card.
            2. Rule2<br>Refreshment of any kind shall not be taken any where in the library premises
            3. Rule3<br>The librarian may recall any book from any member at any time and the member shall return the same immediately.
            4. Rule4<br>Materials borrowed should be returned on or before the due date stamped, if returned late overdue fine will be charged for the delayed period.
            5. Rule5<br>If the books are lost, Then the borrower shall replace the books of the same edition or latest edition or pay double cost of the book after getting permission from the librarian.
			</p>
      </div> 
    </li>
    <li>
      <div class="collapsible-header active"><i class="material-icons">pan_tool</i>Fine Rules</div>
      <div class="collapsible-body">
             <p>
            1. Rule1<br>
            2. Rule2<br>
            3. Rule3<br>
            4. Rule4<br>
           </p>
      </div>  
    </li>

     <li>
      <div class="collapsible-header active"><i class="material-icons">priority_high</i>Working Hours of the Library:</div>
      <div class="collapsible-body">
             <p>
            1. <br>Monday to Friday 8 am to 9 pm (During Examination up to 10 PM)
            2. <br>Saturday 8 am to 5 pm
            3. <br>Sundays 9 am to 5 pm (During Examination Time)

           </p>
      </div> 
    </li>

	 <li>
      <div class="collapsible-header active"><i class="material-icons">priority_high</i>Cards Rules</div>
      <div class="collapsible-body">
             <p>
            1. Care of library borrower cards : <br>Take special care to maintain the library borrower cards.
                Do not fold, alter entries made on the cards, Members are responsible for the entire set of library borrower card issued to them.
            2. Loss of cards : <br>Loss of borrower card should be reported to the librarian. Duplicate card may be issued against formal application and fine.
            3. Validity of cards : <br>Library borrower cards are valid for the entire duration of the course to access library facilities At the end of the course borrower cards shall be returned to the library.

           </p>
      </div> 
    </li>

	 <li>
      <div class="collapsible-header active"><i class="material-icons">priority_high</i>About</div>
      <div class="collapsible-body">
             <p>
            1. Book bank :  <br>SC/ST students of college can become a member of the book bank giving application along with caste certificate, by paying refundable membership fee of Rs. 100 for UG Rs.200 for PG for the full duration of course.
Members of the book bank will be issued 4 textbooks for each semester. Book shall be returned within two days after the theory examination, otherwise a fine of Rs.1/- per day will be charged.
			2. Reference section :  <br>This section has Encyclopedia, dictionaries, Textbooks Reference books etc. which are only available for reference. User can make use of these resources.     
				3. Journal Section : <br>In these section journals, general magazines and news letter are available. They are arranged alphabetically. The latest issues are displayed on display rack and other previous issues are arranged in the drawer. Bound volumes of periodicals are arranged in rack alphabetically and are meat only for reference within the library.
           </p>
      </div> 
    </li>




</ul>