<html lang="en">

@Html.Partial("_Header")
<body>
    <!-- NAVBAR -->
    @Html.Partial("_Navbar_member")
    <!-- END NAV -->

		<!-- Palalex-->
        		<div id="index-banner" class="parallax-container">
                    <div class="section no-pad-bot">
                        <div class="container">
                        <br><br>
                            <h1 class="header center white-text text-darken-2">Hello!!</h1>
                            <div class="row center">
                            <h5 class="header col s12 white-text"> Have a nice day!!</h5>  </div>
                         </div>
                    </div>
                            <div class="parallax"><img src="img/book2.jpg"></div>
                </div>

		<section>
			<!--head-->
                            <div class="section white">
                            <div class="row container">
                            <h2 class="header">News Feed</h2>
                                 <p class="grey-text text-darken-3 lighten-3"> Education turn a girl into a smart lady :') </p>

            <!-- body -->
                        <div class="slider">
                        <ul class="slides">
                          <li>
                            <img src="img/new1.jpg"> 
                            <div class="caption center-align">
                            <h3>This is our big Tagline!</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                            </div>
                          </li>
                          <li>
                            <img src="img/new2.jpg">
                            <div class="caption left-align">
                            <h3>Left Aligned Caption</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                            </div>
                          </li>
                          <li>
                            <img src="img/new3.jpg">
                            <div class="caption right-align">
                            <h3>Right Aligned Caption</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                            </div>
                          </li>
                          <li>
                            <img src="img/new4.jpg">
                            <div class="caption center-align">
                            <h3>This is our big Tagline!</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                            </div>
                          </li>
                        </ul>
                        </div>

             <!-- News -->
                    	<div class="col s12 m7">
                        <h2 class="header">News week</h2>
                        <div class="card horizontal">
                          <div class="card-image">
                            <img src="img/news1.jpg">
                          </div>
                          <div class="card-stacked">
                            <div class="card-content">
								<h5>Is Trump the WTO's biggest threat?</h5>
                              <p>As the World Trade Organization meets in Argentina, is the US President undermining its existence?</p>
                            </div>
                            <div class="card-action">
                              <a href="http://www.bbc.com/news/business-42200390">Read more</a>
                            </div>
                          </div>
                        </div>
                      </div>

 





				</div>
                </div>
		 </section>

			                <div class="parallax-container">
                            <div class="parallax"><img src="img/book1.jpg"></div>
                            </div>
                         











        <!-- Add -->
		    <div class="fixed-action-btn horizontal">
            <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
        

		<!-- FOOTER -->
   @Html.Partial("_Footer")
    <!-- END FOOTER -->
</body>

</html>

