<html lang="en">
	<!-- HEADER -->
	@Html.Partial("_Header")
    <!-- END HEADER -->

	<body>
		<!-- NAVBAR -->
		@Html.Partial("_Navbar_member")
        <!-- END NAV -->

		<!-- BODY -->
        <div>

        <!-- HEAD NAME-->
			<div class="container">
                <br><br>
                    <h1 class="header center brown-text text-darken-4">Member's Library</h1>
                        <div class="row center">
                            <div class="parallax"><img src="img/bg2.jpg"></div>
                            <div class="row">
                         <div class="card-panel">
                            <span class="grey-text  text-left">Seacrh member</span>
							 <i class="material-icons right">search</i> 
                        </div>
					
					<!--END HEAD NAME-->

                    <!-- TABLE -->
					<table class="striped" style="text-center">
        <thead>
          <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Surename</th>
			<th>Tel.</th>
			<th>Address</th>						
            <th>Other</th>
									
									
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>1.</td>
            <td>Eclair</td>
            <td>$0.87</td>
			<td><div class="card-panel">
                            <span class="blue-text  text-center">More</span></div>
					</td>
          </tr>
          <tr>
            <td>2.</td>
            <td>Jellybean</td>
            <td>$3.76</td>
									<td><div class="card-panel">
                            <span class="blue-text  text-center">More</span></div>
                    </td>
          </tr>
          <tr>
            <td>3.</td>
            <td>Lollipop</td>
            <td>$7.00</td>
									<td><div class="card-panel">
                            <span class="blue-text  text-center">More</span></div>
                    </td>
          </tr>
								 <tr>
            <td>4.</td>
            <td>Eclair</td>
            <td>$0.87</td>
            <td><div class="card-panel">
                            <span class="blue-text  text-center">More</span></div>
                    </td>
          </tr>
          <tr>
            <td>5.</td>
            <td>Jellybean</td>
            <td>$3.76</td>
                                    <td><div class="card-panel">
                            <span class="blue-text  text-center">More</span></div>
                    </td>
          </tr>
          <tr>
            <td>6.</td>
            <td>Lollipop</td>
            <td>$7.00</td>
                                    <td><div class="card-panel">
                            <span class="blue-text  text-center">More</span></div>
                    </td>
          </tr>
        </tbody>
      </table>
          
          </div>
          </div>

          </div>


		
        </div>
					</body>
	<div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
		
		<!-- Footer-->@Html.Partial("_Footer")
	
</html>

