<html lang="en">
	<!-- HEADER -->
	@Html.Partial("_Header")
    <!-- END HEADER -->

	<body>
		<!-- NAVBAR -->
		@Html.Partial("_Navbar_member")
        <!-- END NAV -->

		<!-- BODY -->
        <div>

        <!-- HEAD NAME-->
			<div class="container">
                <br><br>
                    <h1 class="header center brown-text text-darken-4">Member's Library</h1>
                        <div class="row center">
                            <div class="parallax"><img src="img/bg2.jpg"></div>
                            <div class="row">
                         <div class="card-panel">
                            <span class="grey-text  text-left">Seacrh member</span>
							 <i class="material-icons right">search</i> 
                        </div>
					
					<!--END HEAD NAME-->

			<th>Other</th>
						
       <!-- TABLE -->
		<table class="striped" style="text-center">

							
      <thead>
              
            <tr>
                <th data-field="memberID" name="Librarian ID">Librarian ID</th>
                <th data-field="FirstName">First Name</th>
                <th data-field="LastName">Last Name</th>
                <th data-field="Gender">Gender</th>
                <th data-field="PhoneNumber">Phone Number</th>
                <th data-field="Username">Username</th>
                <th data-field="Password">Password</th>
                <th class="text-center">Manage</th>
            </tr>
                </thead>
        <tbody>
          <tr>
            <td>57345</td>
            <td>Ackerley</td>
            <td>Salvador</td>
			<td>Male</td>
			<td>078 5848 0078 </td>
			<td>Acker</td>
			<td>Ac324</td>
			<!--<td>1/23/1995</td>
			<td>364-19-5476</td>
			<td>77 Guild Street,LONDON,N14 3EG</td>-->
            <td class="text-center"><a class="waves-effect waves-light btn modal-trigger" data-target="modal1"><i class="large material-icons">mode_edit</i></a></td>
            
          </tr>
          <tr>
            <td>56953</td>
            <td>Maureen</td>
			<td>Tustin</td>
			<td>Female</td>
            <td>985-685-6801</td>
            <td>Maureen</td>
            <td>Mr953</td>
			<!--<td>27/01/1997</td>
            <td>409-38-2958</td>
            <td>518 Woodland Avenue</td>-->
			<td class="text-center"><a class="waves-effect waves-light btn modal-trigger" data-target="modal2"><i class="large material-icons">mode_edit</i></a></td>
            
          </tr>
          <tr>
            <td>60235</td>
            <td>Matt</td>
			<td>Washington</td>
			<td>Male</td>
            <td>808-931-0322</td>
            <td>Matt</td>
            <td>Mat74</td>
			<!--<td>12/9/1999</td>
            <td>751-05-3005</td>
            <td>3888 Park Boulevard, Weott, 95571</td>-->
			<td class="text-center"><a class="waves-effect waves-light btn modal-trigger" data-target="modal3"><i class="large material-icons">mode_edit</i></a></td>
            
          </tr>
								 <tr>
            <td>55246</td>
            <td>Chelsey</td>
            <td>Bebbington</td>
			<td>Female</td>
			<td>954-555-8954</td>
            <td>Chelsey</td>
            <td>Cl245</td>

            <!--<td>6/19/2000</td>
			<td>591-49-0124</td>
            <td>3901 Kenwood Place, Orlando, Florida</td>-->
           <td class="text-center"><a class="waves-effect waves-light btn modal-trigger" data-target="modal4"><i class="large material-icons">mode_edit</i></a></td>
            
          </tr>
          <tr>
            <td>58235</td>
            <td>Daljit </td>
            <td>Kalsi</td>
			<td>Male</td>
			<td>808-931-0322</td>
            <td>Dall</td>
            <td>D6924</td>
            <!--<td>12/8/1995</td>
			<td>754-23-7808</td>
            <td>2102 Randall Drive,Honolulu ,Hawaii</td>-->
            <td class="text-center"><a class="waves-effect waves-light btn modal-trigger" data-target="modal5"><i class="large material-icons">mode_edit</i></a></td>
            
          </tr>
          <tr>
            <td>57031</td>
            <td>Akram </td>
            <td>Masih</td>
			<td>Male</td>
			<td>704-949-4637</td>
            <td>Ram</td>
            <td>Ar515</td>
            <!--<td>11/4/1999</td>
			<td>242-72-7761</td>
            <td>2352 Kelly Street, Charlotte,North Carolina</td>-->
            <td class="text-center"><a class="waves-effect waves-light btn modal-trigger" data-target="modal6"><i class="large material-icons">mode_edit</i></a></td>
            
          </tr>
        </tbody>
      </table>
       </div>

			<!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>Modal Header</h4>
                    <p>A bunch of text</p>
                </div>
                <div class="modal-footer">
                    <div class="fixed-action-btn horizontal">
                        <a class="btn-floating btn-large red"><i class="large material-icons">mode_edit</i></a>
                        <ul>
                            <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
                            <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
                            <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
                            <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Modal Structure 2 -->
            <div id="modal2" class="modal">
                <div class="modal-content">
                    <h4>Modal Header2</h4>
                    <p>A bunch of text</p>
                </div>
                <div class="modal-footer">
                    <div class="fixed-action-btn horizontal">
                        <a class="btn-floating btn-large red"><i class="large material-icons">mode_edit</i></a>
                        <ul>
                            <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
                            <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
                            <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
                            <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Modal Structure 3-->
            <div id="modal3" class="modal">
                <div class="modal-content">
                    <h4>Modal Header3</h4>
                    <p>A bunch of text</p>
                </div>
                <div class="modal-footer">
                    <div class="fixed-action-btn horizontal">
                        <a class="btn-floating btn-large red"><i class="large material-icons">mode_edit</i></a>
                        <ul>
                            <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
                            <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
                            <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
                            <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Modal Structure 4 -->
            <div id="modal4" class="modal">
                <div class="modal-content">
                    <h4>Modal Header</h4>
                    <p>A bunch of text</p>
                </div>
                <div class="modal-footer">
                    <div class="fixed-action-btn horizontal">
                        <a class="btn-floating btn-large red"><i class="large material-icons">mode_edit</i></a>
                        <ul>
                            <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
                            <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
                            <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
                            <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Modal Structure 5 -->
            <div id="modal5" class="modal">
                <div class="modal-content">
                    <h4>Modal Header2</h4>
                    <p>A bunch of text</p>
                </div>
                <div class="modal-footer">
                    <div class="fixed-action-btn horizontal">
                        <a class="btn-floating btn-large red"><i class="large material-icons">mode_edit</i></a>
                        <ul>
                            <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
                            <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
                            <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
                            <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Modal Structure 6-->
            <div id="modal6" class="modal">
                <div class="modal-content">
                    <h4>Modal Header3</h4>
                    <p>A bunch of text</p>
                </div>
                <div class="modal-footer">
                    <div class="fixed-action-btn horizontal">
                        <a class="btn-floating btn-large red"><i class="large material-icons">mode_edit</i></a>
                        <ul>
                            <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
                            <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
                            <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
                            <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>  
        </div>
    </div>
</body>

	<div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
		
		<!-- Footer-->@Html.Partial("_Footer")
</html>

