<html lang="en">

@Html.Partial("_Header")
<body>
    <!-- NAVBAR -->
    @Html.Partial("_Navbar_home")
    <!-- END NAV -->
         <!-- BODY -->




		<!--pic of profile-->
		




		<!--from profile-->
		 <div id="Edit peofile" class="modal">
                <div class="modal-content">
                    <div class="container">
                    <div class="section"></div>
                    <h4>Edit Profile</h4>
                           
					        <div class="row">
                            <form class="col s12">
                                
							    <div class="row">
        								<!--first name-->
                                        <div class="input-field col s6">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input id="FirstName" type="text" class="validate">
                                        <label for="FirstName">First Name</label>
                                        </div>
        								<!--Last name-->
                                        <div class="input-field col s6">
                                        <input value="Last Name member from DB" id="LastName" type="text" class="validate">
                                        <label for="LastName">Last Name</label>
                                        </div>
                                </div>

            					<div class="row">
                                         <!--Gender-->
                                         <form action="#">
                                         <p>
                                         <input name="Gender" type="radio" id="Gender" />
                                         <label for="Gender">Male</label>
                                         </p>
                                         <p>
                                         <input name="Gender" type="radio" id="Gender" />
                                         <label for="Gender">Female</label>
                                         </p>
            							 </form>
								         <!--Phone -->
					                     <div class="input-field col s6">
                                         <i class="material-icons prefix">phone</i>
                                         <input id="PhoneNumber" type="tel" class="validate">
                                         <label for="PhoneNumber">Telephone</label>
                                         </div>
                                  </div>

                                  <div class="row">
    							          <!--User name-->
        				                  <div class="input-field col s6">
                                          <input value="Username member from DB" id="Username" type="text" class="validate">
                                          <label for="Username">Username</label>
                                          </div>
                                          <!--pass word-->
                                          <div class="input-field col s12">
                                          <input id="Password" type="password" class="validate">
                                          <label for="Password">Password</label>
                                          </div>
                                   </div>

        						   <div class="row">   
        			                      <!--E-mail-->
                                          <div class="input-field col s12">
                                          <input id="email" type="email" class="validate">
                                          <label for="email">Email</label>
                                          </div>
                                             
        			                      <div class="col s12">           
                                          This is an inline input field:
                                          <div class="input-field inline">
                                          <input id="email" type="email" class="validate">
                                          <label for="email" data-error="wrong" data-success="right">Email</label>
                                          </div>
                                          </div>
                                   </div>
							       
                                   <div class="row">   
                                          <!--submit-->
            			                   <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                           <i class="material-icons right">send</i>
                                           </button>
								   </div>

							       <div class="progress">
                                   <div class="indeterminate"></div>
                                   </div>

			              </form>
                          </div>
					</div>
                 </div>
             </div>
         <!--end from profile-->

		
        
		 <!-- END BODY -->

        <!-- Plus -->
        <div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
    <!-- FOOTER -->
   @Html.Partial("_Footer")
    <!-- END FOOTER -->


</body>
</html>