<html lang="en">

@Html.Partial("_Header")
<body>
    <!-- NAVBAR -->
    @Html.Partial("_Navbar_member")
    <!-- END NAV -->
        
    <!-- BODY -->
         <div class="container">
            <section>   
                <div class="section"></div>
             <h3 class="center brown-text text-darken-2">History</h3>
             <div class="search-wrapper card">
                <form>
                    <div class="input-field">
                    <input id="search" type="search" placeholder="Search Book Here">
                    <i class="material-icons">search</i>
                    </div>
                </form>
            </div>
            <div>
                <table class="table table-striped custab centered responsive-table">
                <thead>
            <tr>
                <th name="recordID">No.</th>
                <th name="bookID">Book id</th>
                <th name="bookTitle">Title</th>
                <th name="memberID">Member id</th>
                <th name="borrowDate">Borrow Date</th>
                <th name="dueDate">Due Date</th>
                <th name="returnDate">Return Date</th>
            </tr>
                </thead>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>Harry Potter The Goblet of Fire</td>
                <td>582115000</td>
                <td>01/12/2017</td>
                <td>13</td>
                <td>13/12/2017</td>
            </tr>
                </table>
            </div>
           
            </section>
        </div>
    <!-- END BODY -->
        
    <!-- FOOTER -->
   @Html.Partial("_Footer")
    <!-- END FOOTER -->
</body>

</html>