<html lang="en">

@Html.Partial("_Header")
<body>
    <!-- NAVBAR -->
    @Html.Partial("_Navbar_member")
    <!-- END NAV -->
         <!-- BODY -->
        <div class="container">
            <div class="section"></div>
            <div class="row">
                <div class="col s12 m2">
                    <ul>
                        <li>
                            <img src="img/grizz.jpg" class="circle responsive-img">
                        </li>
                        <li class="valign center">
                            <a href="#editProfile">Edit Profile</a>
                        </li>
                    </ul>
                </div>

                <div class="col s12 m5"><h3>Profile</h3></div>
                <div class="col s12 m10">
                    <div class="row">
                        <div class="col s12 m5">
                            <div class="card">
                                <div class="card-content">
                                    <blockquote>Hi! I'm <a name="username">NiRaNam</a></blockquote>
                                   
                                </div>
                                <div class="card-content brown lighten-4">
                                    <ul>
                                        <li>
                                            <h5>Personal Profile</h5>
                                        </li>
                                        <li>
                                            Name : Surasung Jungrai
                                        </li>
                                        <li>
                                            Gender : Male
                                        </li>
                                        <li>
                                            Email: niranam007@gmail.com
                                        </li>
                                        <li>
                                            Contact : 0871234567
                                        </li>
                                        <li>
                                            Birthday : 12/12/2012
                                        </li>
                                    </ul>
                                </div> 
                           </div> 
                        </div>
                        <div class="col s12 m5">
                            <div class="card">
                                <div class="card-content">
                                    <blockquote>Lastest Borrow : 01/12/2017</blockquote>
                                    <blockquote>Due Date : 13/12/2017</blockquote>
                                </div>
                           </div> 
                        </div>
                    </div>

                    
                </div>

            </div>
        </div>
		 <!-- END BODY -->

        <!-- Plus -->
     
    <!-- FOOTER -->
   @Html.Partial("_Footer")
    <!-- END FOOTER -->


</body>
</html>