<html lang="en">

@Html.Partial("_Header")
<body>
    <!-- NAVBAR -->
    @Html.Partial("_Navbar_home")
    <!-- END NAV -->
    <!-- BODY -->
		<div id="index-banner" class="parallax-container">
            <div class="section no-pad-bot">
                <div class="container">
                <br><br>
                    <h1 class="header center brown-text text-darken-2">Apfel's Library</h1>
                        <div class="row center">
                            <h5 class="header col s12 white-text">Welcome to our responsive MVC framework based on Material Design eiei</h5>
                        </div>
                        <div class="row center">
                            <a href="https://github.com" id="download-button" class="btn-large waves-effect waves-light brown darken-2">CHECK US OUT</a>
                        </div>
                <br><br>
                </div>
            </div>
                <div class="parallax"><img src="img/bg2.jpg"></div>
        </div>

		  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">MVC</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Apfel's Staff</h5>

            <p class="light">Welcome to our Library System Management. We hope you have enjoyed using our system and and if you feel like it has helped you out and want to support the team you can help us by donating or backing us on SCB :P.</p>
          </div>

                <div class="parallax"><img src="./img/bg1.jpg" alt="background img 1"></div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
	<!-- END BODY -->
    <!-- FOOTER -->
   @Html.Partial("_Footer")
    <!-- END FOOTER -->
</body>

</html>