<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="./Content/materialize/css/materialize.css" rel="stylesheet">
    <script src="./Scripts/jquery-3.2.1.js"></script>
    <script src="./Scripts/materialize/materialize.js"></script>
    <script src="./Scripts/main.js"></script>
    <title>Apfel's Library</title>
</head>

<body>
    <!-- NAVBAR -->
    <section>
        <div class="navbar-fixed">
            <nav role="navigation" class="white">
                <div class="nav-wrapper container">
                    <a href="#" data-activates="mobile-demo" class="button-collapse">
                        <i class="material-icons grey-text darken-4">menu</i>  
                    </a>
                    <a href="#" class="brand-logo grey-text darken-4"><i class="material-icons left">adb</i>
                          Apfel's Library
                    </a>
						
                    <a href="#" data-activates="mobile" class="button-collapse brown-text darken-4">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a class="grey-text darken-4" href="">Book</a>
                        </li>
                        <li>
                            <a class="grey-text darken-4" href="">Librarian</a>
                        </li>
                        <li>
                            <a class="grey-text darken-4" href="">Member</a>
                        </li>
                        <li>
                            <a class="grey-text darken-4" href="">Service</a>
                        </li>
                        <li>
                            <a class="grey-text darken-4" href="">History</a>
                        </li>
                    </ul>					
                    <ul class="side-nav" id="mobile">
                        <li>
                            <a href="#">
                                <i class="material-icons left">adb</i>APFEL's LIBRARY</a>
                        </li>
                        <li>
                            <a href="">Book</a>
                        </li>
                        <li>
                            <a href="">Librarian</a>
                        </li>
                        <li>
                            <a href="">Member</a>
                        </li>
                        <li>
                            <a href="">Service</a>
                        </li>
                        <li>
                            <a href="">History</a>
                        </li>						
                    </ul>
                    
                </div>
            </nav>
        </div>
    </section>
    <!-- END -->
    <!-- BODY -->
    <!-- END BODY -->
		<div id="index-banner" class="parallax-container">
            <div class="section no-pad-bot">
                <div class="container">
                <br><br>
                    <h1 class="header center brown-text text-darken-2">Apfel's Library</h1>
                        <div class="row center">
                            <h5 class="header col s12 white-text">Welcome to our responsive MVC framework based on Material Design eiei</h5>
                        </div>
                        <div class="row center">
                            <a href="#" id="download-button" class="btn-large waves-effect waves-light brown lighten-1">Get Started</a>
                        </div>
                <br><br>
                </div>
            </div>

                <div class="parallax"><img src="img/bg2.jpg"></div>
        </div>

		  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">MVC</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Apfel's Staff</h5>

            <p class="light">Welcome to our Library System Management. We hope you have enjoyed using our system and and if you feel like it has helped you out and want to support the team you can help us by donating or backing us on SCB :P.</p>
          </div>

                <div class="parallax"><img src="./img/bg1.jpg" alt="background img 1"></div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
	<!-- END BODY -->



    <div class="container">
    <div class="row">
    <div class="section"></div>
   <main>
    <center>
     <div class="container">
        <div  class="z-depth-3 y-depth-3 x-depth-3 grey green-text lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px; margin-top: 100px; solid #EEE;">
        <div class="section"></div>
<div class="section"></div>
    
      <div class="section"><i class="mdi-alert-error red-text"></i></div>
      
  
            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type="text" name='username' id='email' required />
                <label for='email'>Username</label>
              </div>
            </div>
            <div class='row'>
              <div class='input-field col m12'>
                <input class='validate' type='password' name='password' id='password' required />
                <label for='password'>Password</label>
              </div>
              <label style='float: right;'>
              <a><b style="color: #F5F5F5;">Forgot Password?</b></a>
              </label>
            </div>
            <br/>
            <center>
              <div class='row'>
                <button style="margin-left:65px;"  type='submit' name='btn_login' class='col  s6 btn btn-small white black-text  waves-effect z-depth-1 y-depth-1'>Login</button>
              </div>
            </center>
     
        </div>
       </div>
      </center>
      </main>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

    </div>
</div>


		
    <!-- FOOTER -->
    <section>
        <footer class="page-footer brown lighten-1">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Apfel's Library</h5>
                        <p class="grey-text text-lighten-4">A library management system.</p>
						<ul class="white-text">
							<li>
                                Thapakorn k. oat 582115015
                            </li>
							<li>
                                Piyawasin Pikror-ngarn 582115035
                            </li>
							<li>
                                Suchart Pattanasart 582115030
                            </li>
                            <li>
                                Hathaichanok Dumrongsiri 582115045
							</li>
						</ul>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Contact us</h5>
                        <ul class="white-text">
                            <li>
                                <i class="material-icons left">local_phone</i> +44 1 2345 6789
                            </li>
                            <br>
                            <li>
                                <i class="material-icons left">mail</i> support@apfel.io
                            </li>
                            <br>
                            <li>
                                <i class="material-icons left">location_on</i> 4 Privet Drive, Little Whinging, Surrey, England, Great Britain
                            </li> 
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2017 Copyright by CBSD 1/2017 students
                </div>
            </div>
        </footer>
    </section>
    <!-- END FOOTER -->
</body>

</html>