<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="./Content/materialize/css/materialize.css" rel="stylesheet">
    <script src="./Scripts/jquery-3.2.1.js"></script>
    <script src="./Scripts/materialize/materialize.js"></script>
    <script src="./Scripts/main.js"></script>
    <title>Apfel's Library</title>
</head>

<body>
    <section>
            <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper purple darken-3">
                        <i class="material-icons left"></i>
                        <a href="#" class="brand-logo"><i class="material-icons left">adb</i>APFEL's LIBRARY</a>          
                  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                  <ul class="right hide-on-med-and-down">
                    <li><a href="">Librarian</a></li>
                    <li><a href="">Member</a></li>
                    <li><a href="">Service</a></li>
                    <li><a href="">History</a></li>
                  </ul>					
                  <ul class="side-nav" id="mobile-demo">
                      <li><a href="#"><i class="material-icons left">adb</i>APFEL's LIBRARY</a></li>
                    <li><a href="">Librarian</a></li>
                    <li><a href="">Member</a></li>
                    <li><a href="">Service</a></li>
                    <li><a href="">History</a></li>
                  </ul>
                </div>
              </nav>
        </div>
    </section>
</body>
</html>
