<html lang="en">
@Html.Partial("_Header")
<body>
     <!-- LOGIN-->
     <div class="container">
        <div class="row">
        <div class="section"></div>
            <div class="col s10  offset-s1 m8 offset-m2 l6 offset-l3 z-depth-1">
              <div class="section"></div>
              <h5 id="title" class="center">Login</h5>
              <div class="container">	
              <form>
              <div class="input-field" id="username">
                <!--<i class="material-icons">account_circle</i>-->
                <input  type="text" class="validate">
                <label for="username">Username</label>
              </div>
              <div class="input-field" id="password">
              <!--<i class="material-icons">enhanced_encryption</i>-->
              <input  type="password" class="validate">
              <label for="password">Password</label>
              </div>
                  <div class="section"></div>
                  <a class="col s12 waves-effect waves-light btn brown darken-2" id="login-btn">Login</a>
                  <div class="section"></div>
                  <div class="section"></div>
                  <br>
              </form>
              </div>	
            </div>
        </div>
      </div>
       <!-- END LOGIN-->
</body>
</html>

